/* Global Footer
/* ---------------------------------------------------------- */

.gh-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.gh-foot .gh-container {
    width: 100%;
}

.gh-foot a {
    color: inherit;
}

.gh-foot-menu {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.gh-foot-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.0rem;
}

.gh-foot-menu .nav li {
    margin: 0 0.6vmin;
    padding: 0;
}

.gh-foot-menu .nav a {
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    opacity: 0.5;
}

.gh-foot-menu .nav a:hover {
    opacity: 1;
}

.gh-foot-meta {
    display: flex;
    font-size: 1rem;
    text-align: right;
    padding-right: 1.5vmin;
    white-space: nowrap;
}

.gh-foot-meta a {
    margin-left: 0.5vmin;
}



@media (max-width: 700px) {
    .gh-foot-menu .nav {
        font-size: 1.0rem;
    }
}
