@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
    position: relative;
    z-index: 15;
    transition: opacity 400ms 0ms ease-in;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0vw;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}

.gh-container {
    display: flex;
    overflow: hidden
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}

.gh-viewport .gh-head {
    height: 10vh;
}

.ha-viewport .gh-main {
    height: 80vh;
}

.gh-viewport .gh-footer {
    max-height: 10vh;
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}

/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-feature-image img {
    margin-inline: auto;
    width: 100%;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

.gh-portal-triggerbtn-iframe,
.gh-portal-powered {
    display: none;
}

/* index-gallery    
/* ---------------------------------------------------------- */

.collection-images {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0vw;
    z-index: 1
}

.collection-images .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collection-images .image-container.no-main-image-bg {
    background-color: #fff
}

.collection-images .image-container .sqs-video-background {
    height: 100%
}

.collection-images .image-container img,
.collection-images .image-container.no-main-image-bg,
.collection-images .image-container .sqs-video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms 0ms ease-in-out
}

.collection-images .image-container.active img,
.collection-images .image-container.active .sqs-video-background {
    opacity: 1;
    z-index: 10
}

.collection-images .image-container.active .sqs-video-background .background-video.ready {
    z-index: 10
}

.collection-images .image-container.active.no-main-image-bg {
    opacity: 1;
    z-index: 13
}

.collection-nav-wrapper {
    box-sizing: border-box;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 13.5vw;
    opacity: 0;
    width: calc(100% - 13.5vw);
    transform: translate3d(0,-50%,0);
    transition: opacity 300ms ease
}

.collection-nav-wrapper.show {
    opacity: 1
}


.collection-nav-wrapper.too-tall {
    transform: translate3d(0,0,0);
    position: relative
}

.collection-nav-wrapper .collection-nav {
    z-index: 12;
    position: relative;
    font-family: Menlo;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-style: normal
}

@media screen and (max-width: 5333px) {
    .collection-nav-wrapper .collection-nav {
        font-size:25px
    }
}

@media screen and (max-width:1920px) {
    .collection-nav-wrapper .collection-nav {
        font-size: 20px;
    }
}


@media screen and (max-width: 1024px) {
    .collection-nav-wrapper .collection-nav {
        font-size:16px
    }
}

@media screen and (max-width: 768px) {
    .collection-nav-wrapper .collection-nav {
        font-size:12px
    }
}

.collection-nav-wrapper .collection-nav .collection-nav-item span {
    z-index: 12;
    position: relative
}

.collection-nav-wrapper .collection-nav a {
    color: #fcfcfc;
    margin: 0;
    padding: .2vw 0;
    position: relative;
    pointer-events: auto;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    transition: opacity 200ms ease-in-out, color 150ms linear
}

.collection-nav-wrapper .collection-nav a:hover {
    color: rgba(27, 25, 25, 0.921)
}

.collection-nav-wrapper .active a {
    color: #f9fbfb;
    text-decoration: underline;
}

.collection-nav {
    z-index: 12;
    position: relative;
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
}

.index-gallery-wrapper {
    height: 80vh;
    overflow: auto
}

/* font-awesome icon */

:where(.nav, .gh-head-menu) .nav-wechat a,
:where(.nav, .gh-head-menu) .nav-instagram a,
:where(.nav, .gh-head-menu) .nav-behance a,
:where(.nav, .gh-head-menu) .nav-bluesky a,
:where(.nav, .gh-head-menu) .nav-discord a,
:where(.nav, .gh-head-menu) .nav-facebook a,
:where(.nav, .gh-head-menu) .nav-discourse a,
:where(.nav, .gh-head-menu) .nav-dribbble a,
:where(.nav, .gh-head-menu) .nav-etsy a,
:where(.nav, .gh-head-menu) .nav-github a,
:where(.nav, .gh-head-menu) .nav-linkedin a,
:where(.nav, .gh-head-menu) .nav-mastodon a,
:where(.nav, .gh-head-menu) .nav-pinterest a,
:where(.nav, .gh-head-menu) .nav-researchgate a,
:where(.nav, .gh-head-menu) .nav-slack a,
:where(.nav, .gh-head-menu) .nav-snapchat a,
:where(.nav, .gh-head-menu) .nav-threads a,
:where(.nav, .gh-head-menu) .nav-tiktok a,
:where(.nav, .gh-head-menu) .nav-tumblr a,
:where(.nav, .gh-head-menu) .nav-twitch a,
:where(.nav, .gh-head-menu) .nav-x a,
:where(.nav, .gh-head-menu) .nav-vimeo a,
:where(.nav, .gh-head-menu) .nav-youtube a {
    font-size: 0 !important;
}

:where(.nav, .gh-head-menu) .nav-wechat a::before,
:where(.nav, .gh-head-menu) .nav-instagram a::before,
:where(.nav, .gh-head-menu) .nav-behance a::before,
:where(.nav, .gh-head-menu) .nav-bluesky a::before,
:where(.nav, .gh-head-menu) .nav-discord a::before,
:where(.nav, .gh-head-menu) .nav-facebook a::before,
:where(.nav, .gh-head-menu) .nav-discourse a::before,
:where(.nav, .gh-head-menu) .nav-dribbble a::before,
:where(.nav, .gh-head-menu) .nav-etsy a::before,
:where(.nav, .gh-head-menu) .nav-github a::before,
:where(.nav, .gh-head-menu) .nav-linkedin a::before,
:where(.nav, .gh-head-menu) .nav-mastodon a::before,
:where(.nav, .gh-head-menu) .nav-pinterest a::before,
:where(.nav, .gh-head-menu) .nav-researchgate a::before,
:where(.nav, .gh-head-menu) .nav-slack a::before,
:where(.nav, .gh-head-menu) .nav-snapchat a::before,
:where(.nav, .gh-head-menu) .nav-threads a::before,
:where(.nav, .gh-head-menu) .nav-tiktok a::before,
:where(.nav, .gh-head-menu) .nav-tumblr a::before,
:where(.nav, .gh-head-menu) .nav-twitch a::before,
:where(.nav, .gh-head-menu) .nav-x a::before,
:where(.nav, .gh-head-menu) .nav-vimeo a::before,
:where(.nav, .gh-head-menu) .nav-youtube a::before {
    font-family: "Font Awesome 6 Brands";
    display: inline-block;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

:where(.nav, .gh-head-menu) .nav-wechat a::before {content: "\f1d7"}
:where(.nav, .gh-head-menu) .nav-instagram a::before {content: "\f16d"}
:where(.nav, .gh-head-menu) .nav-behance a::before {content: "\f1b4"}
:where(.nav, .gh-head-menu) .nav-bluesky a::before {content: "\e671"}
:where(.nav, .gh-head-menu) .nav-discord a::before {content: "\f392"}
:where(.nav, .gh-head-menu) .nav-facebook a::before {content: "\f09a"}
:where(.nav, .gh-head-menu) .nav-discourse a::before {content: "\f393"}
:where(.nav, .gh-head-menu) .nav-dribbble a::before {content: "\f17d"}
:where(.nav, .gh-head-menu) .nav-etsy a::before {content: "\f2d7"}
:where(.nav, .gh-head-menu) .nav-github a::before {content: "\f09b"}
:where(.nav, .gh-head-menu) .nav-linkedin a::before {content: "\f08c"}
:where(.nav, .gh-head-menu) .nav-mastodon a::before {content: "\f4f6"}
:where(.nav, .gh-head-menu) .nav-pinterest a::before {content: "\f0d2"}
:where(.nav, .gh-head-menu) .nav-researchgate a::before {content: "\f4f8"}
:where(.nav, .gh-head-menu) .nav-slack a::before {content: "\f198"}
:where(.nav, .gh-head-menu) .nav-snapchat a::before {content: "\f2ab"}
:where(.nav, .gh-head-menu) .nav-threads a::before {content: "\e618"}
:where(.nav, .gh-head-menu) .nav-tiktok a::before {content: "\e07b"}
:where(.nav, .gh-head-menu) .nav-tumblr a::before {content: "\f173"}
:where(.nav, .gh-head-menu) .nav-twitch a::before {content: "\f1e8"}
:where(.nav, .gh-head-menu) .nav-x a::before {content: "\e61b"}
:where(.nav, .gh-head-menu) .nav-vimeo a::before {content: "\f40a"}
:where(.nav, .gh-head-menu) .nav-youtube a::before {content: "\f167"}