@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
    position: relative;
    z-index: 15;
    transition: opacity 400ms 0ms ease-in;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0vw;
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}

.gh-container {
    position: relative;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw 7vw;
    height: 100%;
    overflow: hidden
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}


.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-feature-image img {
    margin-inline: auto;
    width: 100%;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

.gh-portal-triggerbtn-iframe,
.gh-portal-powered {
    display: none;
}

/* mercury transition
/* ---------------------------------------------------------- */


@media screen and (max-width: 1024px) {
    .main-content {
        padding:0vw
    }
}

.main-navigation,
.secondary-navigation {
    min-width: min-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center
}

.secondary-navigation {
    padding: 0 0 0 1vw;
}

.main-navigation ul,
.secondary-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.main-navigation li,
.secondary-navigation li {
    padding: 0 .6vw 0 0;
    box-sizing: border-box;
    flex: 0 0 0px
}

@media screen and (max-width: 1024px) {
    .main-navigation li,
    .secondary-navigation li {
        padding-right:1.2vw
    }
}

@media screen and (max-width: 640px) {
    .main-navigation li,
    .secondary-navigation li {
        padding-right:1.8vw
    }
}

.main-navigation li:last-child,
.secondary-navigation li:last-child {
    padding-right: 0
}

.main-navigation li span,
.secondary-navigation li span {
    white-space: nowrap
}

.main-navigation li,
.main-navigation--overlay li,
.secondary-navigation li,
.secondary-navigation--overlay li {
    cursor: pointer;
    line-height: 1;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 0em;
    font-size: 8px;
    font-family: Menlo;
    font-style: normal
}

@media screen and (min-width: 3600px) and (max-width:1920px) {
    .main-navigation li,
    .main-navigation--overlay li,
    .secondary-navigation li,
    .secondary-navigation--overlay li {
        font-size:.41666667vw
    }
}

@media screen and (max-width: 3600px) {
    .main-navigation li,
    .main-navigation--overlay li,
    .secondary-navigation li,
    .secondary-navigation--overlay li {
        font-size:15px
    }
}

@media screen and (min-width: 1920px) {
    .main-navigation li,
    .main-navigation--overlay li {
        font-size:15px
    }
}

.main-navigation a,
.main-navigation--overlay a,
.secondary-navigation a,
.secondary-navigation--overlay a {
    color: #fcfcfc;
    text-decoration: none;
    transition: color 140ms ease-in-out;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 0em;
    font-size: 15px;
    font-family: Menlo;
    font-style: normal
}

@media screen and (min-width: 3600px) and (max-width:1920px) {
    .main-navigation a,
    .main-navigation--overlay a,
    .secondary-navigation a,
    .secondary-navigation--overlay a {
        font-size:.41666667vw
    }
}

@media screen and (max-width: 3600px) {
    .main-navigation a,
    .main-navigation--overlay a,
    .secondary-navigation a,
    .secondary-navigation--overlay a {
        font-size:15px
    }
}

@media screen and (min-width: 1920px) {
    .main-navigation a,
    .main-navigation--overlay a,
    .secondary-navigation a,
    .secondary-navigation--overlay a {
        font-size:15px
    }
}

.main-navigation a:hover,
.main-navigation--overlay a:hover,
.secondary-navigation a:hover,
.secondary-navigation--overlay a:hover {
    color: rgba(0,0,0,.7)
}

.main-navigation .active>a,
.main-navigation--overlay .active>a,
.secondary-navigation .active>a,
.secondary-navigation--overlay .active>a {
    color: rgba(0,0,0,.7)
}


@media screen and (max-width: 1024px) {
    .main-navigation--overlay div,
    .secondary-navigation--overlay div {
        padding:0 0 2vw
    }
}

@media screen and (max-width: 640px) {
    .main-navigation--overlay div,
    .secondary-navigation--overlay div {
        padding:0 0 3vw
    }
}

.site-header.hide-header {
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    -moz-transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0);
    -o-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    -webkit-transition: transform 650ms 0ms ease, opacity 300ms 50ms ease;
    -moz-transition: transform 650ms 0ms ease, opacity 300ms 50ms ease;
    -ms-transition: transform 650ms 0ms ease, opacity 300ms 50ms ease;
    -o-transition: transform 650ms 0ms ease, opacity 300ms 50ms ease;
    transition: transform 650ms 0ms ease, opacity 300ms 50ms ease
}

.nav-open .site-header {
    overflow: visible;
    margin: 0;
    padding: 3vw;
    transition: transform 300ms 0ms ease, opacity 300ms 0ms ease, margin 0ms 0ms linear, padding 0ms 0ms linear
}

.nav-toggle {
    z-index: 1100;
    margin-right: 1vw;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 3
}

@media screen and (max-width: 1024px) {
    .nav-toggle {
        margin-right:2vw
    }
}

@media screen and (max-width: 640px) {
    .nav-toggle {
        margin-right:3vw
    }
}

.nav-open .site-header .navigation-wrapper {
    max-width: 100%;
    max-height: 100%;
    margin-right: 1vw;
    flex: 0 1 auto;
    transition: max-width 200ms 0ms ease-in-out, max-height 200ms 0ms ease-in-out, flex-shrink 200ms 0ms ease-in-out, opacity 200ms 200ms ease-in-out, margin 0ms 200ms ease-in-out
}

@media screen and (max-width: 1024px) {
    .nav-open:not(.mobile-style-nav) .site-header .nav-navigation-wrapper {
        margin-right:2vw
    }
}

@media screen and (max-width: 640px) {
    .nav-open:not(.mobile-style-nav) .site-header .nav-navigation-wrapper {
        margin-right:3vw
    }
}

.nav-toggle {
    height: 18px;
    width: 24px;
    cursor: pointer;
    position: relative;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0)
}

.nav-toggle>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.nav-toggle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    stroke: rgba(0,0,0,.3)
}

.nav-toggle svg.Icon--close {
    display: none;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    overflow: visible
}

.nav-toggle svg {
    stroke: #fdfcfc
}

.nav-open.mobile-style-nav .nav-toggle svg {
    stroke: #fff
}

.nav-open .nav-toggle .Icon--close {
    display: block
}

.nav-open .nav-toggle .Icon--hamburger {
    display: none
}

.site-branding {
    -webkit-align-items: center;
    align-items: center;
    z-index: 1100;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    order: 1
}

.site-branding {
    line-height: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-transform: lowercase;
    font-weight: 400;
    letter-spacing: .2em;
    font-size: 32px;
    font-family: adobe-garamond-pro;
    font-style: normal
}

.site-branding {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1
}

.site-branding h1 {
    margin: 0;
    text-align: left;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2em;
    font-size: 32px;
    font-family: adobe-garamond-pro;
    font-style: normal
}


@media screen and (min-width: 840px) and (max-width:1920px) {
    .site-branding h1 {
        font-size:1.66666667vw
    }
}

@media screen and (max-width: 840px) {
    .site-branding h1 {
        font-size:14px
    }
}

@media screen and (min-width: 1920px) {
    .site-branding h1 {
        font-size:32px
    }
}

.site-branding h1 a {
    color: rgba(252,249,247,.8);
    text-decoration: none
}

.site-branding h1 {
    z-index: 1100;
    min-width: -webkit-min-content;
    min-width: min-content;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.site-branding h1 img {
    height: 150px
}

@media screen and (max-width: 1024px) {
    .site-branding h1 img {
        height:40px
    }
}

@media screen and (max-width: 640px) {
    .site-branding h1 img {
        height:25px
    }
}

.site-branding .site-tagline {
    z-index: 1100;
    min-width: -webkit-min-content;
    min-width: min-content;
    margin-left: 1vw;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

@media screen and (max-width: 1024px) {
    .site-branding .site-tagline {
        margin-left:2vw
    }
}

@media screen and (max-width: 640px) {
    .site-branding .site-tagline {
        margin-left:3vw
    }
}

.hide-tagline .site-branding .site-tagline {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

.navigation-wrapper {
    opacity: 0;
    z-index: 1100;
    flex: 0 0 0px;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
    transition: opacity 140ms 140ms ease-in-out, transform 140ms 140ms ease-in-out
}

.nav-open .navigation-wrapper {
    opacity: 1;
    flex: 0 0 auto
}

.collection-images {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0vw;
    z-index: 1
}

.collection-images .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collection-images .image-container.no-main-image-bg {
    background-color: #fff
}

.collection-images .image-container .sqs-video-background {
    height: 100%
}

.collection-images .image-container img,
.collection-images .image-container.no-main-image-bg,
.collection-images .image-container .sqs-video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
    transition: opacity 1500ms 0ms ease-in-out
}

.collection-images .image-container.active img,
.collection-images .image-container.active .sqs-video-background {
    opacity: 1;
    z-index: 10
}

.collection-images .image-container.active .sqs-video-background .background-video.ready {
    z-index: 10
}

.collection-images .image-container.active.no-main-image-bg {
    opacity: 1;
    z-index: 13
}

.collection-nav-wrapper {
    box-sizing: border-box;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 13.5vw;
    opacity: 0;
    width: calc(100% - 13.5vw);
    transform: translate3d(0,-50%,0);
    transition: opacity 300ms ease
}

.collection-nav-wrapper.show {
    opacity: 1
}


.collection-nav-wrapper.too-tall {
    transform: translate3d(0,0,0);
    position: relative
}

.collection-nav-wrapper .collection-nav {
    z-index: 12;
    position: relative;
    font-family: Menlo;
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-style: normal
}

@media screen and (min-width: 5333px) and (max-width:1920px) {
    .collection-nav-wrapper .collection-nav {
        font-size:.7vw
    }
}

@media screen and (max-width: 5333px) {
    .collection-nav-wrapper .collection-nav {
        font-size:25px
    }
}

@media screen and (min-width: 1920px) {
    .collection-nav-wrapper .collection-nav {
        font-size:25px
    }
}

.collection-nav-wrapper .collection-nav .collection-nav-item span {
    z-index: 12;
    position: relative
}

.collection-nav-wrapper .collection-nav a {
    color: #fcfcfc;
    margin: 0;
    padding: .2vw 0;
    position: relative;
    pointer-events: auto;
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    transition: opacity 200ms ease-in-out, color 150ms linear
}

.collection-nav-wrapper .collection-nav a:hover {
    color: rgba(27, 25, 25, 0.921)
}

@media screen and (min-width: 5333px) and (max-width:1920px) {
    .collection-nav-wrapper .collection-nav a {
        font-size:.46875vw
    }
}

@media screen and (max-width: 5333px) {
    .collection-nav-wrapper .collection-nav a {
        font-size:20px
    }
}

@media screen and (min-width: 1920px) {
    .collection-nav-wrapper .collection-nav a {
        font-size:16px
    }
}

@media screen and (max-width: 1024px) {
    .collection-nav-wrapper .collection-nav a {
        margin-right:1vw
    }
}

@media screen and (max-width: 640px) {
    .collection-nav-wrapper .collection-nav a {
        margin-right:2vw
    }
}

.collection-nav-wrapper .active a {
    color: #f9fbfb;
    text-decoration: underline;
}

.collection-nav {
    z-index: 12;
    position: relative;
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
}

.index-gallery-wrapper {
    position: relative;
    height: 80vh;
    overflow: auto
}

.post-template .site-header {
    background-color: var(--ghost-accent-color, #999);
    color: white;
    padding: 5px 20px;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: inline-flex;
}

.post-template .site-header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;

}

.post-template .site-header .nav-toggle svg {
    stroke: white;
}

.post-template .site-header a {
    color: white;
    text-decoration: none;
}

.post-template .site-header a:hover {
    text-decoration: underline;
}

.post-template .site-header .site-branding .site-title img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.post-template .site-header.header-hidden {
    top: -80px;
}

.post-template.nav-open .site-header {
    padding: 5px 20px;
}